# Pandas
    부동 소수점이 아닌 데이터 뿐만 아니라 부동 소수점 데이터에서도 결측 데이터(NaN)를 쉽게 처리
    
    크기 변이성(Size mutability): DataFrame 및 고차원 객체에서 열을 삽입 및 삭제 가능
    
    자동 및 명시적(explicit)데이터 정렬: 객체를 라벨 집합에 명시적으로 정렬하거나, 사용자가 라벨을 무시하고 Series, DataFrame 등의 계산에서 자동으로 데이터 조정 가능
    
    데이터 세트에서 집계 및 변환을 위한 분할(split), 적용(apply), 결합(combine)작업을 수행할 수 있는 강력하고 유연한 group-by 함수 제공
    
    누락된 데이터 또는 다른 Python 및 Numpy 데이터 구조에서 서로 다른 인덱싱 데이터를 DataFrame 객체로 쉽게 변환
    
    대용량 데이터 세트 병합 및 결합
    
    데이터 세트의 유연한 재구성 및 피벗
    
    축의 계층적 라벨링(눈금당 여러 개의 라벨을 가질 수 있음)
    
    플랫 파일(CSV 및 구분), Excel파일, 데이터베이스 로딩 및 포고속 HDF5형식의 데이터 저장/로드에 사용되는 강력한 IO도구
    
    시계열 특정 기능: 날짜 범위 생성 및 주파수 변환, 무빙 윈도우(moving window)통계,날짜 이동 및 지연

In [3]:
import numpy as np
import pandas as pd

pd.__version__

'1.3.0'

## Pandas 객체

### Series 객체

In [5]:
s=pd.Series([0,0.25,0.5,0.75,1.0])
s

0    0.00
1    0.25
2    0.50
3    0.75
4    1.00
dtype: float64

In [6]:
s.values

array([0.  , 0.25, 0.5 , 0.75, 1.  ])

In [7]:
s.index

RangeIndex(start=0, stop=5, step=1)

In [8]:
s[1]

0.25

In [9]:
s[1:4]

1    0.25
2    0.50
3    0.75
dtype: float64

In [11]:
s=pd.Series([0,0.25,0.5,0.45,1.0],
           index=['a','b','c','d','e'])
s

a    0.00
b    0.25
c    0.50
d    0.45
e    1.00
dtype: float64

In [12]:
s['c']

0.5

In [14]:
s[['c','d','e']]

c    0.50
d    0.45
e    1.00
dtype: float64

In [15]:
'b' in s

True

In [18]:
s = pd.Series([0,0.25,0.5,0.75,1.0],
             index=[2,4,6,8,10])
s

2     0.00
4     0.25
6     0.50
8     0.75
10    1.00
dtype: float64

In [19]:
s[2:]

6     0.50
8     0.75
10    1.00
dtype: float64

In [21]:
s.unique() #지금 현재 unique한 값

array([0.  , 0.25, 0.5 , 0.75, 1.  ])

In [22]:
s.value_counts()

0.00    1
0.25    1
0.50    1
0.75    1
1.00    1
dtype: int64

In [23]:
s.isin([0.25,0.75])

2     False
4      True
6     False
8      True
10    False
dtype: bool

In [24]:
pop_tuple={'서울특별시':9720846,
          '부산광역시': 3404423,
          '인천광역시':2947217,
          '대구광역시':2427954,
          '대전광역시':1471040,
          '광주광역시':1455048}
population=pd.Series(pop_tuple)
population

서울특별시    9720846
부산광역시    3404423
인천광역시    2947217
대구광역시    2427954
대전광역시    1471040
광주광역시    1455048
dtype: int64

In [25]:
population['서울특별시']

9720846

In [27]:
population['서울특별시':'대구광역시']

서울특별시    9720846
부산광역시    3404423
인천광역시    2947217
대구광역시    2427954
dtype: int64

### DataFrame 객체

In [30]:
pd.DataFrame([{'A':2,'B':4,'D':3},{'A':4,"B":5,"C":7}])
#누락값 포함

   A  B    D    C
0  2  4  3.0  NaN
1  4  5  NaN  7.0

In [34]:
pd.DataFrame(np.random.rand(5,5),
            columns=['A','B','C','D','E'],
            index=[1,2,3,4,5])

          A         B         C         D         E
1  0.215343  0.709899  0.465854  0.034801  0.101595
2  0.555321  0.249225  0.715132  0.751552  0.031252
3  0.224980  0.982977  0.292891  0.189994  0.818230
4  0.983605  0.021178  0.935901  0.356982  0.619043
5  0.946569  0.001574  0.527893  0.234599  0.083810

In [36]:
male_tuple={'서울특별시':473275,
          '부산광역시': 1668618,
          '인천광역시':1476813,
          '대구광역시':1198815,
          '대전광역시':734441,
          '광주광역시':720060}
male=pd.Series(male_tuple)
male

서울특별시     473275
부산광역시    1668618
인천광역시    1476813
대구광역시    1198815
대전광역시     734441
광주광역시     720060
dtype: int64

In [37]:
female_tuple={'서울특별시':4988571,
          '부산광역시': 1735805,
          '인천광역시':1470404,
          '대구광역시':1229139,
          '대전광역시':736599,
          '광주광역시':734988}
female=pd.Series(female_tuple)
female

서울특별시    4988571
부산광역시    1735805
인천광역시    1470404
대구광역시    1229139
대전광역시     736599
광주광역시     734988
dtype: int64

In [39]:
korea_df=pd.DataFrame({'인구수': population,
                      '남자인구수': male,
                      '여자인구수': female})
korea_df

           인구수    남자인구수    여자인구수
서울특별시  9720846   473275  4988571
부산광역시  3404423  1668618  1735805
인천광역시  2947217  1476813  1470404
대구광역시  2427954  1198815  1229139
대전광역시  1471040   734441   736599
광주광역시  1455048   720060   734988

In [40]:
korea_df.index

Index(['서울특별시', '부산광역시', '인천광역시', '대구광역시', '대전광역시', '광주광역시'], dtype='object')

In [41]:
korea_df.columns

Index(['인구수', '남자인구수', '여자인구수'], dtype='object')

In [42]:
korea_df['여자인구수']

서울특별시    4988571
부산광역시    1735805
인천광역시    1470404
대구광역시    1229139
대전광역시     736599
광주광역시     734988
Name: 여자인구수, dtype: int64

In [43]:
korea_df['서울특별시':'인천광역시']

           인구수    남자인구수    여자인구수
서울특별시  9720846   473275  4988571
부산광역시  3404423  1668618  1735805
인천광역시  2947217  1476813  1470404

### Index 객체

|메소드|설명|
|-|-|
|Index|일반적인 Index객체이며,Numpy 배열 형식으로 축의 이름 표현|
|Int64index|정수 값을 위한 Index|
|Multiindex|단일 축에 여러 단계 색인을 표현하는 계층적 Index객체|
|DatatimeIndex|Numpy의 Datatime64타입으로 타임스탬프 저장|
|PeriodIndex|기간 데이터를 위한 Index|

In [47]:
idx = pd.Index([2,4,6,8,10]) # 대소문자 구분
idx

Int64Index([2, 4, 6, 8, 10], dtype='int64')

In [49]:
idx[1]

4

In [50]:
idx[1:2:2]

Int64Index([4], dtype='int64')

In [51]:
idx[-1::]

Int64Index([10], dtype='int64')

In [52]:
idx[::2]

Int64Index([2, 6, 10], dtype='int64')

In [53]:
print(idx)
print(idx.size)
print(idx.shape)
print(idx.ndim)
print(idx.dtype)

Int64Index([2, 4, 6, 8, 10], dtype='int64')
5
(5,)
1
int64

### Index연산
|연산자|메소드|설명|
|-|-|-|
| |append|index의 객체를 추가한 새로운 색인 반환|
| |difference|index의 차집합 반환|
|&|intersection|index의 교집합 반환|
|\||union|index의 합집합반환|
|^|symmetric_difference|Index의 여집합 반환|
| |isin|index가 존재하는지 여부를 Boolean으로 반환|
| |delete|index가 삭제된 새로운 index 반환|
| |drop|값이 삭제된 새로운 index 반환|
| |insert|index가 추가된 새로운 index반환|
| |is_monotonic|index가 단조성을 가지면 True|
| |is_unique|중복되는 index가 없다면 True|
| |unique|index에서 중복되는 요소를 제거하고 유일한 값만 반환|

In [82]:
idx1= pd.Index([1,2,4,6,8])
idx2= pd.Index([2,4,5,6,7])
print(idx1.append(idx2))
print(idx1.difference(idx2))
print(idx1-idx2)
print(idx1.intersection(idx2))
# print(idx1 & idx2) #파이썬이 사용하지 말라네
print(idx1.union(idx2)) #합집합인데 중복값은 빼고 합집합
# print(idx1 | idx2) #파이썬이 사용하지 말라네
print(idx1.delete(0))
print(idx1.drop(1))
print(idx1.symmetric_difference(idx2)) #여집합
# print(idx1 ^ idx2) #파이썬이 사용하지 말라네

Int64Index([1, 2, 4, 6, 8, 2, 4, 5, 6, 7], dtype='int64')
Int64Index([1, 8], dtype='int64')
Int64Index([-1, -2, -1, 0, 1], dtype='int64')
Int64Index([2, 4, 6], dtype='int64')
Int64Index([1, 2, 4, 5, 6, 7, 8], dtype='int64')
Int64Index([2, 4, 6, 8], dtype='int64')
Int64Index([2, 4, 6, 8], dtype='int64')
Int64Index([1, 5, 7, 8], dtype='int64')

### Indexing

In [83]:
s=pd.Series([0,0.25,0.5,0.75,1.0],
           index=['a','b','c','d','e'])
s

a    0.00
b    0.25
c    0.50
d    0.75
e    1.00
dtype: float64

In [85]:
s['b']

0.25

In [87]:
'b' in s

True

In [88]:
s.keys()

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [90]:
list(s.items() )

[('a', 0.0), ('b', 0.25), ('c', 0.5), ('d', 0.75), ('e', 1.0)]

In [91]:
s['f'] = 1.25
s

a    0.00
b    0.25
c    0.50
d    0.75
e    1.00
f    1.25
dtype: float64

In [92]:
s['a':'d']

a    0.00
b    0.25
c    0.50
d    0.75
dtype: float64

In [94]:
s[0:4]

a    0.00
b    0.25
c    0.50
d    0.75
dtype: float64

In [95]:
s[(s>0.4)&(s<0.8)]

c    0.50
d    0.75
dtype: float64

In [96]:
s[['a','c','e']]

a    0.0
c    0.5
e    1.0
dtype: float64

### Series 인덱싱

In [97]:
https://www.youtube.com/watch?v=lG8pEwvYwCw
31:06 / 4:56:16

SyntaxError: invalid syntax (<ipython-input-97-466a595ff0b9>, line 1)